body{
    color: saddlebrown;
    background-color: bisque;
    font-family:"ヒラギノ角ゴ Pro W3";
	font-size: 16px;	
    line-height: 2;		
}
ul {list-style-type: none;
    text-align: center;
    margin: 200px 20px 0px 0px;
}
a {
	color: #776955;		
    transition: 0.5s;
}	
a:hover {
	color: #ff4765;			
}
header {
	height: 100%;
	overflow: auto;
	position: relative;
	background: #ea96a3;	
}
header #logo img {
	display: block;
	width: 20%;	
	position: absolute;
	left: 40%;
	bottom: 50%;
}
#menubar li a {
	width: 140px;
	color: #fff;
	border-bottom: 2px solid transparent;
	padding-bottom: 7px;
}
#menubar li a:hover {
	letter-spacing: 0.1em;
}
h2 {
	margin-bottom: 20px;
	clear: both;
	padding: 0 20px;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.1em;
	background: #ea96a3;
	color: #fff;
	border-radius: 100px;
}
h3 {
	margin-bottom: 20px;
	clear: both;
	padding: 0 20px;
	font-size: 18px;
	text-align: center;
	letter-spacing: 0.1em;
	border: 2px solid #ea96a3;
	border-radius: 100px;
	background: #fff;
}
table {
    border-spacing: 0;
    width: auto;
}
.ta1 caption {
	border: 1px solid #999;
	border-bottom: none;
	text-align: center;
	background: #f0f0f0;
	font-weight: bold;
	padding: 10px;
}
.ta1 th {
	width: auto;
	text-align: center;
	background: #f0f0f0;
}
.ta1 {
	table-layout: fixed;
	width: 100%;
	margin: 0 auto 20px;
    background: #fff;
}
.ta1, .ta1 td, .ta1 th {
	word-break: break-all;
	border: 1px solid #999;
	padding: 10px;
}

.ta1 th {
	text-align: center;
	width: 30%;
}
